    <div>
        <label for="">Ingrese el id</label>
        <input type="number" placeholder="idPerfil" name="idPerfil" value="">
    </div>
    <div>
        <label for="">Ingrese el nombre</label>
        <input type="text" placeholder="nombrePerfil" name="nombrePerfil" value="">
    </div>
        <div>
        <label for="">Ingrese la cantidad de dias extra</label>
        <input type="number" placeholder="diasExtraPerfil" name="diasExtraPerfil" value="">
    </div>
