    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese el id</label>
        <input class="form form-control" type="number" placeholder="idPerfil" name="idPerfil" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese el nombre</label>
        <input class="form form-control" type="text" placeholder="nombrePerfil" name="nombrePerfil" value="">
    </div>
        <div class="form-group row">
        <label class="fw-bold" for="">Ingrese la cantidad de dias extra</label>
        <input class="form form-control" type="number" placeholder="diasExtraPerfil" name="diasExtraPerfil" value="">
    </div>
