<h1>create</h1>

<div class="card" style="width: 26rem;">
    <div class="card-body">
        <form action="/usuario/add" method="POST">

        {{>usuarios/usuariosFormDiv}}

        <button class="btn btn-success">agregar</button>
        </form>
    </div>
</div>