<div class="container">
    <div class="row" >
        <div class="row-mb-12" >
            <div class="col-md-6 col-md-offset-6" style=" margin:0px auto">
<h1>Crear Usuario</h1>
<form action="/usuario/add" method="POST">

{{>usuarios/usuariosFormDiv}}

<div class="col-md-4 col-md-offset-4 text-center" style=" margin:0px auto">
                            <div class="row">
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                            
                        </div>
</form>
            </div>
        </div>
    </div>
</div>