<h1>create</h1>

<div class="card" style="width: 26rem;">
    <div class="card-body">
        <form action="/perfil/add" method="POST">

            {{>perfiles/perfilesFormDiv}}

            <button class="btn btn-success">agregar</button>
        </form>
    </div>
</div>