
<div class="container">
    <div class="row" >
        <div class="row-mb-12" >
            <div class="col-md-6 col-md-offset-6" style=" margin:0px auto">
<h1>Crear Perfil</h1>
<form action="/perfil/add" method="POST">


<div class="card" style="width: 26rem;">
    <div class="card-body">
        <form action="/perfil/add" method="POST">


<div class=" text-center" style=" margin:0px auto">
{{>perfiles/perfilesFormDiv}}

                            <div class="row">
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                             
                        </div>
</form>
            </div>
        </div>


    </div>
</div>