
<div class="container">
    <div class="row" >
        <div class="row-mb-12" >
            <div class="col-md-6 col-md-offset-6" style=" margin:0px auto">
<h1>Crear Libro</h1>
<form action="/libro/add" method="POST">


<div class="card" style="width: 26rem;">
    <div class="card-body">
        <form action="/libro/add" method="POST">

        {{>libros/librosFormDiv}}

        <button class="btn btn-success">agregar</button>
        </form>

    </div>
</div>