<h1>edit</h1>
<form action="/editPerfil/{{_id}}" method="POST">
    <div>
        <label for="">Ingrese el id</label>
        <input type="texr" placeholder="idPerfil" name="idPerfil" value="{{idPerfil}}">
    </div>
    <div>
        <label for="">Ingrese el nombre</label>
        <input type="text" placeholder="nombrePerfil" name="nombrePerfil" value="{{nombrePerfil}}">
    </div>
        <div>
        <label for="">Ingrese la cantidad de dias extra</label>
        <input type="number" placeholder="diasExtraPerfil" name="diasExtraPerfil" value="{{diasExtraPerfil}}">
    </div>

<button>editar</button>
</form>