<h1>login usuario</h1>

<div class="card" style="width: 26rem;">
    <div class="card-body">
        <form action="/loginUsuario/" method="POST">
            <div class="form-group mb-2">
                <label for="">Ingrese correo:</label>
                <input class="form-control" type="text" placeholder="correoUsuario" name="correoUsuario" value="" required>
            </div>
            <div class="form-group mb-2">
                <label for="">Ingrese contraseña:</label>
                <input class="form-control" type="text" placeholder="contraseñaUsuario" name="contraseñaUsuario" value="" required>
            </div>
            <button class="btn btn-danger">ingresar</button>
        </form>
    </div>
</div>