<h1>login usuario</h1>
<form action="/loginUsuario/" method="POST">
    <div>
        <label for="">Ingrese correo</label>
        <input type="text" placeholder="correoUsuario" name="correoUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un contraseña</label>
        <input type="text" placeholder="contraseñaUsuario" name="contraseñaUsuario" value="">
    </div>
    <button>ingresar</button>
</form>