    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un titulo</label>
        <input class="form form-control" type="text" placeholder="titulo" name="tituloLibro" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese una o unas editoriales separadas por una coma</label>
        <input class="form form-control" type="text" placeholder="editoriales" name="editorialLibro" value="">
    </div>
        <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un autor</label>
        <input class="form form-control" type="text" placeholder="autor" name="autorLibro" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un estadoLibro</label>
        <input class="form form-control" type="text" placeholder="estadoLibro" name="estadoLibro" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un clasificacion</label>
        <input class="form form-control" type="text" placeholder="clasificacion" name="clasificacionLibro" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un cantidadTotal</label>
        <input class="form form-control" type="text" placeholder="cantidadTotal" name="cantidadTotalLibro" value="">
    </div>
    <div class="form-group row">
        <label class="fw-bold" for="">Ingrese un cantidadDisponible</label>
        <input class="form form-control" type="text" placeholder="cantidadDisponible" name="cantidadDisponibleLibro" value="">
    </div>
