
 <div class="form-group mb-2">
        <label for="">Ingrese RUT</label>
        <input class="form-control" type="text" placeholder="rutUsuario" name="rutUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese nombre completo</label>
        <input class="form-control" type="text" placeholder="nombreCompletoUsuario" name="nombreCompletoUsuario" value="" required>
    </div>
        <div class="form-group mb-2">
        <label for="">Ingrese fecha de nacimiento</label>
        <input class="form-control" type="date" placeholder="fechaNacimientoUsuario" name="fechaNacimientoUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese una direccion</label>
        <input class="form-control" type="text" placeholder="direccionUsuario" name="direccionUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese correo</label>
        <input class="form-control" type="text" placeholder="correoUsuario" name="correoUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese una contraseña</label>
        <input class="form-control" type="text" placeholder="contraseñaUsuario" name="contraseñaUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un estadoCuentaUsuario</label>
        <input class="form-control" type="text" placeholder="estadoCuentaUsuario" name="estadoCuentaUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un cantidadMaximaAPedirUsuario</label>
        <input class="form-control" type="text" placeholder="cantidadMaximaAPedirUsuario" name="cantidadMaximaAPedirUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un idPerfil</label>
        <input class="form-control" type="text" placeholder="idPerfil" name="idPerfil" value="" required>

    </div>
