 <div class="form-group mb-2">
        <label for="">Ingrese rutUsuario</label>
        <input class="form-control" type="text" placeholder="rutUsuario" name="rutUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese nombreCompletoUsuario</label>
        <input class="form-control" type="text" placeholder="nombreCompletoUsuario" name="nombreCompletoUsuario" value="" required>
    </div>
        <div class="form-group mb-2">
        <label for="">Ingrese fechaNacimientoUsuario</label>
        <input class="form-control" type="date" placeholder="fechaNacimientoUsuario" name="fechaNacimientoUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un direccionUsuario</label>
        <input class="form-control" type="text" placeholder="direccionUsuario" name="direccionUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un correoUsuario</label>
        <input class="form-control" type="text" placeholder="correoUsuario" name="correoUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un contraseñaUsuario</label>
        <input class="form-control" type="text" placeholder="contraseñaUsuario" name="contraseñaUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un estadoCuentaUsuario</label>
        <input class="form-control" type="text" placeholder="estadoCuentaUsuario" name="estadoCuentaUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un cantidadMaximaAPedirUsuario</label>
        <input class="form-control" type="text" placeholder="cantidadMaximaAPedirUsuario" name="cantidadMaximaAPedirUsuario" value="" required>
    </div>
    <div class="form-group mb-2">
        <label for="">Ingrese un idPerfil</label>
        <input class="form-control" type="text" placeholder="idPerfil" name="idPerfil" value="" required>
    </div>
