 <div>
        <label for="">Ingrese rutUsuario</label>
        <input type="text" placeholder="rutUsuario" name="rutUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese nombreCompletoUsuario</label>
        <input type="text" placeholder="nombreCompletoUsuario" name="nombreCompletoUsuario" value="">
    </div>
        <div>
        <label for="">Ingrese fechaNacimientoUsuario</label>
        <input type="date" placeholder="fechaNacimientoUsuario" name="fechaNacimientoUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un direccionUsuario</label>
        <input type="text" placeholder="direccionUsuario" name="direccionUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un correoUsuario</label>
        <input type="text" placeholder="correoUsuario" name="correoUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un contraseñaUsuario</label>
        <input type="text" placeholder="contraseñaUsuario" name="contraseñaUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un estadoCuentaUsuario</label>
        <input type="text" placeholder="estadoCuentaUsuario" name="estadoCuentaUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un cantidadMaximaAPedirUsuario</label>
        <input type="text" placeholder="cantidadMaximaAPedirUsuario" name="cantidadMaximaAPedirUsuario" value="">
    </div>
    <div>
        <label for="">Ingrese un idPerfil</label>
        <input type="text" placeholder="idPerfil" name="idPerfil" value="">
    </div>
